@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Open+Sans&family=Playfair+Display&family=Poppins&family=Raleway&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  

  /* stylisation du header */
  header {
    height: 55vh;
    background: url("https://cdn.pixabay.com/photo/2013/07/12/15/19/world-map-149634_1280.png");
    background-position: center;
    color: #ffffff;
    text-align: center;
  }

  header .principal h3{
    padding: 20px;
    margin: -20px 120px 0px 120px;
  }
  
  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  header nav a {
    color: #dcdcdc;
    text-decoration: none;
    margin-right: 10px;
  }
  
  header nav a:hover {
    color: #fff;
    border-bottom: 1px solid #919191;
  }
  
  header .principal {
    margin-top: 40px;   
  }
  
  header .principal h4 {
    margin-top: -20px;
    padding: 20px;
  }


  /*stylisation de la 1ere section*/
  .section-1 {
    background-color: #1A374D;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    column-width: 12rem;
  }
  
  .section-1 .gauche {
    width: 60%;
    margin-right: 85px;
  }

  .section-1 .droite {
    margin-top: 10rem;
  }

  /*stylisation de la 2eme section*/
  .section-2 {
    background-color: #406882;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-wrap: initial;
    
  }
  
  .section-2 .gauche {
    width: 30%;
    margin-right: 85px;
    margin-top: 10rem;
  }


  /*stylisation de la 3eme section*/
  .section-3 {
    background-color: #6998AB;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .section-3 .gauche {
    width: 60%;
    margin-right: 85px;
  }


  /*stylisation du footer*/
  footer {
    background-color: #171f28;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }